table#kmap-tutorial, table#kmap-tutorial th, table#kmap-tutorial td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
table#kmap-tutorial th, table#kmap-tutorial td {
  width: 16.66%;
  text-align: center;
  position: relative;
}

table#kmap-tutorial td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

table#kmap-tutorial {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

table#kmap-tutorial th .content, table#kmap-tutorial td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

tr.table-hover, td.kmap-hover {
  color: white;
  background-color: #337ab7;
}

.table-tutorial-row:hover, .kmap-cell:hover {
  cursor: pointer;
}
