table.kmap-tutorial, table.kmap-tutorial th, table.kmap-tutorial td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
table.kmap-tutorial th, table.kmap-tutorial td {
  width: 16.66%;
  text-align: center;
  position: relative;
}

table.kmap-tutorial td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

table.kmap-tutorial {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

table.kmap-tutorial th .content, table.kmap-tutorial td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

tr.table-hover, td.kmap-hover {
  color: white;
  background-color: #337ab7;
}

#grouping-panels div.panel-heading:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}

.correct-cell {
  background-color: #dff0d8;
}

.wrong-cell {
  background-color: #f2dede;
}

table.kmap-correct {
  border: 3px solid #d6e9c6;
}

table.kmap-wrong {
  border: 3px solid #ebccd1;
}

.cell-mark-1 {
  background-color: #c1e2f0;
}

.cell-mark-2 {
  background-color: #d3b9f0;
}

.cell-mark-3 {
  background-color: #f0e0c7;
}

.cell-mark-12-overlap {
  background-color: #CACEF0;
}

.icon-tutorial {
  font-size: 2em;
}
