<div class="page-header">
  <h1>Send Feedback <br /><small>Your voice matters</small></h1>
</div>

<form (ngSubmit)="onSubmit()" #feedbackForm="ngForm">


  <div class="form-group">
    <label>Rate the app</label>
    <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="rating1" [value]="1"> 1
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" [value]="2"> 2
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" [value]="3"> 3
    </label>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea id="comment" class="form-control" rows="3" maxlength="1000" [(ngModel)]="comment"
              name="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

