<div class="page-header">
  <h1>Send Feedback <br /><small>Your voice matters</small></h1>
</div>

<div class="panel-body" *ngIf="success == true">
  <div class="alert alert-success">
    Thank you for your feedback!
  </div>
</div>

<div class="panel-body" *ngIf="success == false">
  <div class="alert alert-danger">
    Sorry! There was a problem with submitting a form.
  </div>
</div>

<form (ngSubmit)="onSubmit()" #feedbackForm="ngForm">

  <div class="form-line">
    <label>Rate the app</label><br />
    <div class="btn-group" data-toggle="buttons">
      <button *ngFor="let ratingValue of [1,2,3,4,5]"
              class="btn" [ngClass]="rating==ratingValue ? 'btn-primary' : 'btn-default'"
              (click)="rating = (rating != ratingValue) ? ratingValue : null">{{ratingValue}}
      </button>
    </div>
  </div>

  <div class="form-group form-line">
    <label for="comment">Comment</label>
    <textarea id="comment" class="form-control" rows="3" maxlength="1000" [(ngModel)]="comment"
              name="comment"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="rating==null && comment==null">Submit</button>
</form>
