<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-11 col-sm-10 col-xs-9">
        <div class="progress" >
          <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="pointsRatio()"
               aria-valuemin="0" aria-valuemax="100" [style.width]="pointsRatio()">
            {{pointsRatio()}}
          </div>
          {{checkPoints()}} / {{maxPoints}}
        </div>
      </div>

      <div class="col-lg-1 col-sm-2 col-xs-3">
        <button class="btn btn-primary btn-xs col-xs-12" title="Show details of the progress" (click)="openUserProgress()">
          Details
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">

      <ng-container *ngFor="let exercise of exercises">
      <li *ngIf="exercise.isSingleton" routerLinkActive="active"><a [routerLink]="exercise.route">{{exercise.name}}</a></li>

      <li *ngIf="!exercise.isSingleton" class="dropdown" routerLinkActive="active">
        <a class="dropdown-toggle" data-toggle="collapse" href="#collape{{exercise.id}}">{{exercise.name}}<span class="caret"></span></a>
        <ul class="panel-collapse collapse list-group" id="collape{{exercise.id}}">
            <a  *ngFor="let question of exercise.questions"
                [routerLink]="exercise.route + '/' + question.id"
                class="list-group-item">
              <span [innerHTML]="question.name"></span>
            </a>
        </ul>
      </li>
      </ng-container>

    </ul>
  </div>

  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
