<ng-container *ngIf="!(exercise$ | async) as exercise">
  <div class="page-header header-no-top-margin">
    <h2>Find the best groups <br>
      <small >Loading...</small>
    </h2>
  </div>
</ng-container>

<ng-container *ngIf="exercise$ | async as exercise">
  <div class="custom-header">
    <h2>Find best groups <br>
      <small >Question {{exercise.id}}</small>
    </h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Find the best possible groups for the marked states.
    </div>


    <div class="panel-body text-center latex-height">
      <app-interactive-kmap></app-interactive-kmap>
    </div>
  </div>

</ng-container>
