<ng-container *ngIf="!(exercise$ | async) as exercise">
  <div class="page-header header-no-top-margin">
    <h2>Expression to Karnaugh Map <br>
      <small >Loading...</small>
    </h2>
  </div>
</ng-container>

<ng-container *ngIf="exercise$ | async as exercise">
  <div class="custom-header">
    <h2>Expression to Karnaugh Map <br>
      <small >Question {{exercise.id}}</small>
    </h2>
  </div>

  <div class="panel panel-default" [ngClass]='{"panel-success": correct, "panel-danger": correct == false}'>
    <div class="panel-heading" *ngIf="markTrue">
      Mark all the states for which the following expression <strong>evaluates to true.</strong>
    </div>
    <div class="panel-heading" *ngIf="!markTrue">
      Mark all the states that <strong>are excluded</strong> by the following expression
    </div>

    <div class="panel-body text-center latex-height">
      <span appMathJax [mathString]="latexExpression"></span>
    </div>
  </div>

  <div class="panel panel-default" [ngClass]='{"panel-success": correct, "panel-danger": correct == false}'>
    <div class="panel-body">
      <app-interactive-kmap [nVars]="nVars"></app-interactive-kmap>
    </div>
  </div>

  <p class="text-center" *ngIf="correct == null">
    <button class="btn btn-primary" (click)="onVerify()">Verify</button>
  </p>

  <p class="text-center" *ngIf="correct != null">
    <button class="btn btn-primary" (click)="onVerify()">Verify Again</button>
    <button class="btn btn-default" (click)="onTryAgain()">Reset</button>
    <button class="btn btn-success" (click)="onShowSolution()" *ngIf="correct == false">Show Answer</button>
  </p>

  <div *ngIf="correct" class="alert alert-success">
    <strong>Success!</strong> Well done!
  </div>

  <div *ngIf="!correct && nTrueCorrect < nTrue && nTrueIncorrect == 0" class="alert alert-danger">
    <strong>Wrong!</strong> Are you sure there are no more states that meet the requirement?
  </div>

  <div *ngIf="!correct && nTrueCorrect >= nTrue && nTrueIncorrect > 0" class="alert alert-danger">
    <strong>Wrong!</strong> Some of the states seem to have been marked unnecessarily.
  </div>

  <div *ngIf="!correct && nTrueCorrect < nTrue && nTrueIncorrect > 0" class="alert alert-danger">
    <strong>Wrong!</strong> Give it a second thought.
  </div>

</ng-container>
