<span *ngIf="!(exercise$ | async) as exercise">
  <div class="page-header">
    <h2>Expression to Karnaugh Map <br>
      <small >Loading...</small>
    </h2>
  </div>
</span>

<span *ngIf="exercise$ | async as exercise">
  <div class="page-header">
    <h2>Expression to Karnaugh Map <br>
      <small >Question {{exercise.id}}</small>
    </h2>
  </div>

  <p *ngIf="markTrue">Mark all the states on the Karnaugh Map for which the following expression evaluates to true.</p>
  <p *ngIf="!markTrue">Mark all the states on the Karnaugh Map that are excluded by the following expression</p>
</span>
