<ng-container *ngIf="!(exercise$ | async) as exercise">
  <div class="page-header">
    <h2>Expression to Karnaugh Map <br>
      <small >Loading...</small>
    </h2>
  </div>
</ng-container>

<ng-container *ngIf="exercise$ | async as exercise">
  <div class="page-header">
    <h2>Expression to Karnaugh Map <br>
      <small >Question {{exercise.id}}</small>
    </h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" *ngIf="markTrue">
      Mark all the states for which the following expression evaluates to true.
    </div>
    <div class="panel-heading" *ngIf="!markTrue">
      Mark all the states that are excluded by the following expression
    </div>

    <div class="panel-body text-center"><span appMathJax [mathString]="latexExpression"></span></div>
  </div>

  <app-interactive-kmap [nVars]="nVars"></app-interactive-kmap>

  <button class="btn btn-primary center-block">Verify</button>

</ng-container>
