<table id="kmap_table">

  <tr>
    <td rowspan="2" colspan="2"></td>
    <th colspan="4">CD</th>
  </tr>
  <tr>
    <th>00</th>
    <th>01</th>
    <th>11</th>
    <th>10</th>
  </tr>

  <tr>
    <th rowspan="4">AB</th>
    <th>00</th>
    <td *ngFor="let evaluation of kmapEvaluations[0]; index as i" [ngClass]="{'cellTrue': evaluation, 'cellFalse': !evaluation}"><div class="content">{{ evaluation }}<br/>{{
      kmapIDs[0][i] }}</div></td>
  </tr>
  <tr>
    <th>01</th>
    <td *ngFor="let evaluation of kmapEvaluations[1]; index as i" [ngClass]="{'cellTrue': evaluation, 'cellFalse': !evaluation}"><div class="content">{{ evaluation }}<br/>{{
      kmapIDs[1][i] }}</div></td>
  </tr>
  <tr>
    <th>11</th>
    <td *ngFor="let evaluation of kmapEvaluations[2]; index as i" [ngClass]="{'cellTrue': evaluation, 'cellFalse': !evaluation}"><div class="content">{{ evaluation }}<br/>{{
      kmapIDs[2][i] }}</div></td>
  </tr>
  <tr>
    <th>10</th>
    <td *ngFor="let evaluation of kmapEvaluations[3]; index as i" [ngClass]="{'cellTrue': evaluation, 'cellFalse': !evaluation}"><div class="content">{{ evaluation }}<br/>{{
      kmapIDs[3][i] }}</div></td>
  </tr>

</table>

<p>{{ checkGroup(0,0,4,4) }}</p>
<p>{{ checkGroup(1,0,2,2) }}</p>
<p>{{ checkGroup(3,0,2,2) }}</p>
<p>{{ checkGroup(0,3,2,2) }}</p>
