table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  width: 16.66%;
  text-align: center;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

table {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

.cellTrue {
  background: #22bb45;
}

.cellFalse {
  background: #ff9494;
}

th .content, td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.highlight {
  background: #35bdc7;
}
