<div class="panel panel-default">
  <div class="panel-heading">Find your true self</div>
  <div class="panel-body">

    <form>
    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="Student Number (UUN)"
             [ngModelOptions]="{standalone: true}"
             [(ngModel)] = "uun">

      <div class="input-group-btn">
        <button (click)="onClick()"
                type="submit"
                class="btn btn-primary"
                [disabled]="!isValid()"
                title="{{ !isValid() ? 'UUN should consist of 7 digits optionally preceded with \'s\'' : '' }}">
          GO!
        </button>
      </div>
    </div>
    </form>

  </div>
</div>

<p *ngIf="url != null" class="text-center"><button (click)="ngOnInit()" class="btn btn-danger">I-don't-want-anyone-to-see-this button</button></p>

<div class="panel panel-default" *ngIf="url != null">
  <div class="panel-heading">You... or someone you stalk</div>
  <div class="panel-body text-center">
    <img [src]="url">
  </div>
  <div class="panel-footer">
    <strong>URL:</strong> <a [href]="url" target="_blank">{{url}}</a>
  </div>
</div>
