<ng-container *ngIf="!(exercise$ | async) as exercise">
<div class="page-header header-no-top-margin">
  <h2>Minimize Expression <br>
    <small >Loading...</small>
  </h2>
</div>
</ng-container>

<ng-container *ngIf="exercise$ | async as exercise">
  <div class="custom-header">
    <h2>Minimize Expression <br>
      <small >Question {{exercise.id}}</small>
    </h2>
  </div>

  <div *ngIf="finalCorrect == true" class="alert alert-success">
    <strong>Congratulation!</strong> You have gained {{exercise.points}} points.
  </div>

  <div class="panel panel-default" [ngClass]='{"panel-success": finalCorrect, "panel-danger": finalCorrect == false}'>
    <div class="panel-heading">
      <ng-container *ngIf="dnfForm">Find the minimal <strong>DNF</strong> of the given expression.</ng-container>
      <ng-container *ngIf="!dnfForm">Find the minimal <strong>CNF</strong> of the given expression.</ng-container>
    </div>
    <div class="panel-body text-center latex-height panel-body-bottom-border">
      <span appMathJax [mathString]="latexExpression"></span>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">

      <div class="panel panel-default" [ngClass]='{"panel-success": correctSelected, "panel-danger": correctSelected == false}'>
        <div class="panel-heading">
          <ng-container *ngIf="dnfForm">
            To find the solution in <strong>DNF</strong>, start with marking all the <strong>states for which the initial expression evaluates to true.</strong>
          </ng-container>
          <ng-container *ngIf="!dnfForm">
            To find the solution in <strong>CNF</strong>, start with marking all the <strong>states that are excluded by the initial expression.</strong>
          </ng-container>
        </div>

        <div class="panel-body text-center">
          <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0" (click)="(correctSelected==false) ? correctSelected = null : null">
              <app-interactive-kmap [nVars]="nVars" #interMap></app-interactive-kmap>
            </div>
          </div>
        </div>

        <div class="panel-footer text-center">
          <ng-container *ngIf="correctSelected != true">
            <button class="btn btn-primary"
                    title="Check if you selected correct states and move on to grouping"
                    (click)="onVerifySelected()">Verify selected</button>
            <button class="btn btn-default" (click)="resetComponent()">Reset</button>
          </ng-container>
          <ng-container *ngIf="correctSelected">
            <button class="btn btn-primary" (click)="onGroup(false); clearFeedback()">Group states</button>
            <button class="btn btn-default" (click)="resetComponent()">Reset</button>
          </ng-container>
        </div>

      </div>

      <div *ngIf="correctSelected == false" class="alert alert-danger">
        <strong>Wrong!</strong> Give it a second thought.
      </div>

      <div *ngIf="interMap.doubleSelected" class="alert alert-danger">
        This group has already been added.
      </div>

      <div *ngIf="interMap.emptySelected" class="alert alert-danger">
        Select states to group.
      </div>

    </div>

    <div class="col-md-6">

      <div class="panel panel-default"
           [ngClass]='{"panel-success": finalCorrect, "panel-danger": finalCorrect == false}'>
        <div class="panel-heading">
          <p [ngClass]="{'text-muted': !correctSelected}">Your final minimal expression in
            <span *ngIf="dnfForm">DNF</span>
            <span *ngIf="!dnfForm">CNF</span>
          </p>
        </div>
        <div class="panel-body text-center latex-height">
          <p *ngIf="!correctSelected" class="text-muted">You need to select correct states first to move on to grouping</p>
          <span *ngIf="correctSelected" appMathJax [mathString]="userMinimalExpressionInMathjax()"></span>
        </div>
      </div>

      <div *ngIf="correctSelected" class="panel panel-default"
           [ngClass]='{"panel-success": finalCorrect, "panel-danger": finalCorrect == false}'>
        <div class="panel-heading">Your answer <button class="btn btn-xs btn-default" (click)="resetGrouping()">Reset groups</button></div>
        <div class="panel-body" *ngIf="userGroupingAnswers.length == 0"></div>

        <div class="panel-body panel-body-bottom-border answer-list"
             *ngFor="let answer of userGroupingAnswers; index as i"
             (mouseenter)="interMap.hoverCells(answer.selectedAsCells)"
             (mouseleave)="interMap.unhoverAll()">
          <p>
            <a *ngIf="!finalCorrect" (click)="removeAnswerGroup(i); clearFeedback()" class="close" title="Remove a group">&times;</a>
            <strong>Group {{i+1}}:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{answer.selectedAsCells}}
          </p>
          <p>
            <strong>Expression: </strong><span appMathJax [mathString]="answer.answeredAsExpression.toMathJax()"></span>
          </p>

          <div class="form-inline">

            <div class="input-group form-group">
              <span class="input-group-addon">A</span>
              <select class="form-control" [(ngModel)]="answer.answeredAsExpression.aVar" [disabled]="finalCorrect" (change)="clearFeedback()">
                <option [ngValue]="true">True</option>
                <option [ngValue]="false">False</option>
                <option [ngValue]="null">N/A</option>
              </select>
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon">B</span>
              <select class="form-control" [(ngModel)]="answer.answeredAsExpression.bVar" [disabled]="finalCorrect">
                <option [ngValue]="true">True</option>
                <option [ngValue]="false">False</option>
                <option [ngValue]="null">N/A</option>
              </select>
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon">C</span>
              <select class="form-control" [(ngModel)]="answer.answeredAsExpression.cVar" [disabled]="finalCorrect">
                <option [ngValue]="true">True</option>
                <option [ngValue]="false">False</option>
                <option [ngValue]="null">N/A</option>
              </select>
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon">D</span>
              <select class="form-control" [(ngModel)]="answer.answeredAsExpression.dVar" [disabled]="finalCorrect">
                <option [ngValue]="true">True</option>
                <option [ngValue]="false">False</option>
                <option [ngValue]="null">N/A</option>
              </select>
            </div>

          </div>  <!-- end of form -->

        </div>  <!-- end of one group box -->

        <div class="panel-footer text-center">
          <button class="btn btn-primary" (click)="onVerifyGrouping()" [disabled]="finalCorrect">Verify</button>
        </div>

      </div>  <!-- end of panel -->

    </div>  <!-- end of col-md-6 -->

  </div>  <!-- end of row -->

</ng-container>
