<div class="custom-header">
  <h2>Label Squares</h2>
</div>

<div class="text-justify">
  <p>
  If A, B, C, D have binary values a, b, c, d with 1 representing &#8868; and 0 representing &perp;,
    we will refer to the state using the decimal value of the binary string abcd.
  </p>
</div>

<div class="panel panel-default" [ngClass]='{"panel-success": correct, "panel-danger": correct == false}'>
  <div class="panel-heading">
    Label each of the sixteen squares in the Karnaugh map with the corresponding decimal number – as described above.
  </div>

  <div class="panel-body text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <table id="kmap_table">

          <tr>
            <td rowspan="2" colspan="2"></td>
            <th colspan="4">CD</th>
          </tr>
          <tr>
            <th>00</th>
            <th>01</th>
            <th>11</th>
            <th>10</th>
          </tr>

          <ng-container *ngFor="let binary of kmap.binariesVertical; index as i">
            <tr>
              <ng-container *ngIf="i == 0">
                <th rowspan="4">AB</th>
              </ng-container>

              <th>{{binary}}</th>
              <td *ngFor="let j of [0,1,2,3]">
                <div class="content">
                  <input type="number"
                         min = "0"
                         max = "15"
                         maxlength="2"
                         class="form-control"
                         [disabled]="submitted"
                         title="{{ !isInputValid(userAnswer[i][j]) ? 'Invalid input. Provide a number between 0 and 15, inclusively.' : ''}}"
                         [(ngModel)] = userAnswer[i][j]
                         required>
                </div>
              </td>
            </tr>
          </ng-container>

        </table>
      </div>
    </div>
  </div>

  <div class="panel-footer text-center">
    <ng-container *ngIf="!submitted">
      <button class="btn btn-primary" (click)="onVerify()" [disabled]="!isFormValid()">Verify</button>
      <button class="btn btn-default" (click)="ngOnInit()">Reset</button>
    </ng-container>
    <ng-container *ngIf="submitted">
      <button class="btn btn-primary" (click)="submitted = false; correct = null">Modify values</button>
      <button class="btn btn-default" (click)="ngOnInit()">Reset and try again</button>
    </ng-container>
  </div>
</div>
