<div id="container">

<div style="text-align:center">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" routerLink="/">Karnaugh mAPP</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="practice">Practice</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="quiz">Quiz</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="instant-solver">Instant Solver</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="tutorial">Tutorial</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="resolution">Resolution</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="feedback">Feedback</a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="user-testing">User Testing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="body">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer id="footer">

  <div class="text-center">
    Karnaugh mAPP was created by <a href="www.linkedin.com/in/arkadiusz-mikolajczak-135951122" target="_blank">
    Arkadiusz Mikolajczak</a> as a part of the honours project at the <a href="https://www.ed.ac.uk/" target="_blank">
      University of Edinburgh</a>,
    <br />
    and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
    Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    <br />
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
      <img alt="Creative Commons Licence" style="border-width:0"
           src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
    </a>
  </div>
  <!--/.Copyright-->

</footer>

</div>

