<div class="custom-header">
  <h2>Test yourself! <br />
    <small>
      Complete a series of exercises and gather all the points!
    </small>
  </h2>
</div>

<p class="text-justify">
  Exercises in the quiz are of the same type as in the <a routerLink="/practice">Practice</a> section,
  but with no detailed feedback. You will only get notify whether you completed a task correctly or wrong.
  If successful, you will be awarded points which contribute towards your total score - visible on the progress bar at the top.
</p>
<p class="text-justify">
  Completion of all questions of the same type will result in a wee surprise.
  There is also a reward waiting for answering all questions correctly.
</p>
<p class="text-justify">
  You can see the details of your progress by clicking <button class="btn btn-primary btn-xs">Details</button> button
  next to the progress bar. There you will find the list of all exercises in the quiz, how many points they are worth
  and the breakdown of your attempts. You can also reset this information at any time.
</p>
