<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-11 col-sm-10 col-xs-9">
          <div class="progress" >
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="pointsRatio()"
                 aria-valuemin="0" aria-valuemax="100" [style.width]="pointsRatio()">
              {{pointsRatio()}}
            </div>
            {{checkPoints()}} / {{maxPoints}}
          </div>
        </div>

        <div class="col-lg-1 col-sm-2 col-xs-3">
          <button class="btn btn-primary btn-xs col-xs-12" title="Show details of the progress" (click)="openUserProgress()">
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active"><a routerLink="label-squares">Label Squares</a></li>

      <li class="dropdown" routerLinkActive="active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expression to Karnaugh Map<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngFor="let exercise of exprToKmapExercises">
            <a routerLink="expr-to-kmap/{{exercise.id}}">
            {{exercise.id}}. <span [innerHTML]="toBrowserText(exercise.expression)"></span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown" routerLinkActive="active">
        <a class="dropdown-toggle" data-toggle="collapse" href="#collapse2">Find the Best Groups<span class="caret"></span></a>
        <ul class="panel-collapse collapse list-group" id="collapse2">
          <!--<li *ngFor="let exercise of findBestGroupsExercises" class="list-group-item">-->
            <a routerLink="find-groups/{{exercise.id}}" *ngFor="let exercise of findBestGroupsExercises" class="list-group-item">Set {{exercise.id}}</a>
          <!--</li>-->
        </ul>
      </li>

      <li class="dropdown" routerLinkActive="active">
        <a class="dropdown-toggle" data-toggle="collapse" href="#collapse3">Name the Group<span class="caret"></span></a>
        <ul class="panel-collapse collapse list-group" id="collapse3">
          <a routerLink="name-group/{{exercise.id}}"
             *ngFor="let exercise of nameGroupExercises"
             class="list-group-item">
            Set {{exercise.id}}
          </a>
        </ul>
      </li>

      <li class="dropdown" routerLinkActive="active">
        <a class="dropdown-toggle" data-toggle="collapse" href="#collapse4">Karnaugh Map to Expression<span class="caret"></span></a>
        <ul class="panel-collapse collapse list-group" id="collapse4">
          <a routerLink="kmap-to-expr/{{exercise.id}}"
             *ngFor="let exercise of kmapToExprExercises"
             class="list-group-item">
            Set {{exercise.id}}
          </a>
        </ul>
      </li>


      <li routerLinkActive="active"><a routerLink="resolution">Resolution</a></li>
    </ul>
  </div>

  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
