<div class="panel panel-default">
  <div class="panel-body text-center">
    <label class="radio-inline"
           title="Disjunctive Normal Form &#xA; (Sum Of Products)">
      <input type="radio"
             name="kmapTypeOption"
             [value]="DNF"
             [(ngModel)]="kmapTypeOption"
             (change)="changeKmapType()">DNF
    </label>

    <label class="radio-inline"
           title="Conjunctive Normal Form &#xA; (Product Of Sums)">
      <input type="radio"
             name="kmapTypeOption"
             [value]="CNF"
             [(ngModel)]="kmapTypeOption"
             (change)="changeKmapType()">CNF
    </label>
  </div>
</div>

<p>KMap Type Option: {{kmapTypeOption}}</p>
