table, th, td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
th, td {
  width: 16.66%;
  text-align: center;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

table {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

th .content, td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-control {
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.input-warning {
  background-color: #fcf8e3;
  border-color: #eecf52;
}

.input-success {
  background-color: #dff0d8;
  border-color: #3c763d;
}

.input-danger {
  background-color: #f2dede;
  border-color: #a94442;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.panel-success .panel-footer {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-danger .panel-footer {
  background-color: #f2dede;
  border-color: #ebccd1;
}
