.show{
  opacity: 1 !important;
}
.step{
  opacity: 0;
  transition: .5s ease-in-out all;
}

.alert-float {
  position: absolute;
  bottom: 110px;
  left: 153px;
  margin-bottom: 0;
}

.alert-float .alert {
  margin-bottom: 0;
}

