<ng-container *ngIf="!(exercise$ | async) as exercise">
  <div class="page-header header-no-top-margin">
    <h2>Find the best groups <br>
      <small >Loading...</small>
    </h2>
  </div>
</ng-container>

<ng-container *ngIf="exercise$ | async as exercise">
  <div class="custom-header">
    <h2>Find best groups <br>
      <small >Question {{exercise.id}}</small>
    </h2>
  </div>

  <div class="row">

    <div class="col-sm-6">

      <div class="panel panel-default" [ngClass]='{"panel-success": correct, "panel-danger": correct == false}'>
        <div class="panel-heading">
          Find the best possible groups for the marked states.
        </div>

        <div class="panel-body text-center">
          <div class="row">
            <div class="col-lg-12">
              <app-interactive-kmap [nVars]="exercise.nVars" [premarkedCells]="exercise.cells" #interMap></app-interactive-kmap>
            </div>
          </div>
        </div>

        <div class="panel-body" *ngIf="interMap.doubleSelected">
          <div class="alert alert-danger">
            This group has already been added.
          </div>
        </div>

        <div class="panel-body" *ngIf="interMap.emptySelected">
          <div class="alert alert-danger">
            Select states to group.
          </div>
        </div>

        <div class="panel-body" *ngIf="interMap.invalidGroup">
          <div class="alert alert-danger">
            Selected cells do not form a valid group.
          </div>
        </div>

        <div class="panel-footer text-center">
          <ng-container *ngIf="!correct">
            <button class="btn btn-primary" (click)="interMap.onGroup(true); foundResolution=false">Group states</button>
            <button class="btn btn-primary" (click)="onVerify()">Verify</button>
          </ng-container>
          <ng-container *ngIf="correct">
            <button class="btn btn-default" (click)="resetComponent()">Reset</button>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="col-sm-6">

      <div class="panel panel-default" [ngClass]='{"panel-success": correct, "panel-danger": correct == false}'>
        <div class="panel-heading">Your answer <button class="btn btn-xs btn-default" (click)="resetComponent()">Reset all</button></div>
        <div class="panel-body" *ngIf="interMap.selectedGroups.length == 0"></div>
        <div class="panel-body panel-body-bottom-border answer-list"
            *ngFor="let group of interMap.selectedGroups; index as i"
            (mouseenter)="interMap.hoverCells(group)"
            (mouseleave)="interMap.unhoverAll()">
          <a *ngIf="!correct" (click)="removeAnswerGroup(i)" class="close" title="Remove a group">&times;</a>
          <strong>Group {{i+1}}:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{group}}
        </div>
      </div>

      <div *ngIf="foundResolution" class="alert alert-warning">
        There seems to be a redundant group.
      </div>

      <div *ngIf="correct" class="alert alert-success">
        <strong>Success!</strong> Well done.
      </div>

    </div>

  </div>

</ng-container>
