<ng-container *ngIf="!(exercise$ | async) as exercise">
  <div class="page-header header-no-top-margin">
    <h2>Karnaugh Map to Expression <br>
      <small >Loading...</small>
    </h2>
  </div>
</ng-container>

<ng-container *ngIf="exercise$ | async as exercise">
  <div class="custom-header">
    <h2>Karnaugh Map to Expression <br>
      <small >Question {{exercise.id}}</small>
    </h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" *ngIf="!markTrue">
      Group marked states, give an expression for each of them and then provide a final minimal solution in DNF form.
    </div>

    <div class="panel-body text-center">
      <app-interactive-kmap [premarkedCells]="exercise.cells" #interMap></app-interactive-kmap>
    </div>

    <div class="panel-footer text-center">
      <button class="btn btn-primary" (click)="onGroup()">Group states</button>
    </div>
  </div>

  <div class="list-group">
    <li class="list-group-item" [ngClass]='{
    "answer-heading": correct == null,
    "list-group-item-success": correct,
    "list-group-item-danger": correct == false}'>Your answer</li>
    <li class="list-group-item" *ngIf="interMap.selectedGroups.length == 0"></li>

    <li class="list-group-item answer-list"
        *ngFor="let group of interMap.selectedGroups; index as i"
        (mouseenter)="interMap.hoverCells(group)"
        (mouseleave)="interMap.unhoverAll()">
      <p>
        <a (click)="removeAnswerGroup(i)" class="close" title="Remove a group">&times;</a>
        <strong>Group {{i+1}}:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{group}}
      </p>
      <p>
        <strong>Expression: </strong><span appMathJax [mathString]="answersForSelectedGroups[i].toMathJax()"></span>
      </p>

      <div class="form-inline">

        <div class="input-group form-group">
          <span class="input-group-addon">A</span>
          <select class="form-control" [(ngModel)]="answersForSelectedGroups[i].aVar" (ngModelChange)="onChange(i, $event)">
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="null">N/A</option>
          </select>
        </div>

        <div class="input-group form-group">
          <span class="input-group-addon">B</span>
          <select class="form-control" [(ngModel)]="answersForSelectedGroups[i].bVar" (ngModelChange)="onChange(i, $event)">
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="null">N/A</option>
          </select>
        </div>

        <div class="input-group form-group">
          <span class="input-group-addon">C</span>
          <select class="form-control" [(ngModel)]="answersForSelectedGroups[i].cVar" (ngModelChange)="onChange(i, $event)">
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="null">N/A</option>
          </select>
        </div>

        <div class="input-group form-group">
          <span class="input-group-addon">D</span>
          <select class="form-control" [(ngModel)]="answersForSelectedGroups[i].dVar" (ngModelChange)="onChange(i, $event)">
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
            <option [ngValue]="null">N/A</option>
          </select>
        </div>

      </div>

    </li>

  </div>

</ng-container>
