/* You can add global styles to this file, and also import other style files */
.custom-header {
  padding-bottom: 2px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
}

.custom-header h2 {
  margin-top: 0;
}

.latex-height {
  min-height: 50px;
}

.input-group-success .input-group-addon, .panel-success .panel-footer {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.input-group-success .form-control {
  border-color: #d6e9c6;
}

.input-group-danger .input-group-addon, .panel-danger .panel-footer {
  background-color: #f2dede;
  border-color: #ebccd1;
}

.input-group-danger .form-control {
  border-color: #ebccd1;
}

.panel-warning .panel-footer {
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.panel-info .panel-footer {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.answer-heading {
  background: #f5f5f5;
}

.answer-list:hover {
  background: #fafafa;
}

.panel-body-bottom-border {
  border-bottom: 1px solid #dddddd;
}

.list-group-item-custom-success, .panel-body-success {
  background-color: #eeffe7;
}

.list-group-item-custom-danger, .panel-body-danger {
  background-color: #ffebeb;
}

.list-group-item-custom-warning, .panel-body-warning {
  background-color: #fcf8e3;
}
