<div class="page-header">
  <h1>Karnaugh Map Tutorial</h1>
</div>
<div class="well text-center">
  <h3><samp>Welcome to the most advanced tutorial of Karnaugh Map</samp></h3>
  <h4><samp>For amateurs and professionals.</samp></h4>
  <h5><samp>Made by me. For you.</samp></h5>
</div>

<div class="text-justify">
  <p>
    Karnaugh Map is the powerful tool for minimizing complex logic expressions or turning them into disjunctive or conjunctive normal
    form. The following website was created to help anyone get familiar with this tool by
    providing a number of exercises. You can choose between <a routerLink="/practice">practice</a> and <a
    routerLink="/quiz">quiz</a> sections. The former presents many questions and give informative feedback on the go.
    The latter is for the ones who already feel confident with a concept of the Karnaugh Map and wish to try themselves
    by gaining the points to unlock surprises.
  </p>
  <p>
    If you have never heard of the Karnaugh Map or you are still not sure how to use it, start with the <a
    routerLink="/tutorial">tutorial</a> where you will find the explanation of the Karnaugh Map model step by step.
  </p>
  <p>
    The website also provides the <a routerLink="/instant-solver">instant solver</a> where you can find the minimal
    DNF or CNF for any logic expression or any Karnaugh Map with pre-marked states.
  </p>

</div>

