<div class="well text-center">
  <h1><samp>Welcome to Karnaugh mAPP!</samp></h1>
  <h3><samp>Become a master of the powerful expression minimisation model.</samp></h3>
  <h4><samp>Right here. Right now.</samp></h4>
</div>

<div class="text-justify">
  <p>
    Karnaugh Map is the powerful tool for minimizing complex logic expressions or turning them into disjunctive or conjunctive normal
    form. The following website was created to help anyone get familiar with this tool by
    providing a number of exercises. You can choose between <a routerLink="/practice">practice</a> and <a
    routerLink="/quiz">quiz</a> sections. The former presents many questions and give informative feedback on the go.
    The latter is for the ones who already feel confident with a concept of the Karnaugh Map and wish to try themselves
    by gaining the points.
  </p>
  <p>
    If you have never heard of the Karnaugh Map or you are still not sure how to use it, start with the <a
    routerLink="/tutorial">tutorial</a> where you will find the explanation of the Karnaugh Map model step by step.
    You can also read a short article on the visual representation of the <a routerLink="/resolution">resolution</a>
    rule in the Karnaugh map.
  </p>
  <p>
    The website also provides the <a routerLink="/instant-solver">instant solver</a> where you can find the minimal
    DNF or CNF for any logic expression or any Karnaugh Map with pre-marked states.
  </p>
  <p>If you like this page or you think there is something that could be done better, feel free to express it in the
    <a routerLink="/feedback">feedback</a> form.
  </p>

</div>

